<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" href="new.css">
</head>
<body>

	 
	 <div class= 'overAllMainDiv'>
	 <div class='overAllMainHeaderDiv'> 
		<div class='brandNameDiv'>
		    <h1> BrandName </h1> </div>
		<div class='HeadercontentsDiv'>
		     <p> Home </p> 
			 <p> Product </p>
			 <p> Pricing </p>
			 <p> Contact </p> </div>
		<div class='loginDiv'>
		     <div class='Login'><p> Login </p></div>
		     <div class='join'> <p> JOIN US </p>  </div>
		  </div>
		
	 </div>



     <div class="overAllWelcomeMainDiv">
        <div class="subWelcomeDiv">
            <div class="welcomeDiv"> <h1> Welcome </h1></div>
            <div class="mainContentDiv"> Selling on the <br> internet like a pro </div>
            <div class="subContentDiv"> We know how large objects will act, but things on a <br> small scale just do not act that way </div>
            <div class="learnMoreDiv">
                <p class="text1"> Get Quote Now </p>
                <p class="text2"> Learn More </p>
            </div>
        </div>
      </div>

	  <div class="overAllFooterMainDiv">
		<div class="box1">
			<div class="box11">
				
			</div>
		    <div class="trainingcoursesdiv">
				training Courses
            </div>
			<div class="contentdiv"> 
				The graduation accumulation of <br> information about atomic and <br> small-scale behaviour.... 
			</div>

		</div>
		<div class="box2">
			<div class="content2div">The graduation accumulation of <br> information about atomic and <br> small-scale behaviour.... 
			</div>
			<div class="onlinecoursesdiv">
				2,765 Courses </div>

			</div>
			<div class="box3">
		</div>
		
			

			

		</div>
		
	</div>

	<script>

		const names= [" john","mary","raj","charles"];
		
		names[0]="johnny";
		
		names.push( " ram ");
		
		document.getElementById('demo4').innerHTML=
		"names";
		
		
		
		
		</script>
		
	 
	 </body>
	 </html>
	

   
  
  
  
  